html {
  height: 100%;
  width: 100%;
}

body {
  background-color: grey; 
}

h3:not([id]) {
  color: green;
}

.azul {
  color: blue; 
}

/* style.css */
#verde {
  color: red; /* Establece el color del texto a rojo */
}
